<ion-header>
  <ion-navbar class="header-search">

    <ul>
      <li>
        <ion-icon class="header-search-icon" name="search"></ion-icon>
      </li>
      <li class="spc-li">
        <ion-input class="header-search-box" type="text" placeholder="Search" value=""></ion-input>
      </li>
      <li>
        <ion-icon class="header-search-icon" name="notifications-outline"></ion-icon>
        <ion-badge class="notification-badge">26</ion-badge>
      </li>
    </ul>

  </ion-navbar>
  <div>
    <ion-segment [(ngModel)]="offerType" class="offer-segment">
      <ion-segment-button value="all_offers">
        Offeres
      </ion-segment-button>
      <ion-segment-button value="shortlisted">
        Short Listed
      </ion-segment-button>
      <ion-segment-button value="viewed">
        Viewed Offers
      </ion-segment-button>

    </ion-segment>
  </div>
</ion-header>

<ion-content class="offer-content">

  <div [ngSwitch]="offerType">

    <ion-list *ngSwitchCase="'all_offers'">

      <ion-row>
        <ion-item no-lines>
          <div class="shops-search">
            <span class="shop-title">Stores</span>
            <span class="search-shop-title" (click)="openShopPopOver($event)">
              <ion-icon name="search" ></ion-icon> Search</span>
          </div>
          <ion-scroll scrollX="true" scroll-avatar>
            <div class="store-avatar-container" *ngFor="let shop of allShops">
              <div class="store-avatar">
                <img [src]="shop.imageSrc" class="scroll-item img-circle" />
              </div>
              <div class="store-avatar-text">{{shop.shopName}}</div>
            </div>

          </ion-scroll>
        </ion-item>
        <div class="full-width-section"></div>
      </ion-row>


      <ion-item>

        <!-- <ion-thumbnail item-start>
          <img src="assets/imgs/store.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2> -->
        <ion-grid>
          <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 class="item-container" *ngFor="let offer of offers">
              <!-- <div class="image-container" [style.background-image]="'url(assets/imgs/store.jpg)'"> -->
              <div class="image-container" (click) = "openProductDetailModal(offer?.id)">
                <div class="product-name">{{offer?.productName}}</div>
                <div class="product-details">{{offer?.discription}}</div>
                <img class="product-img" [src]='offer.ImageSrc'>
                <div class="product-info">
                  <div class="product-off">
                    <span class="dicount-rate">{{offer?.offer}}%</span>
                    <br/>
                    <span class="discount-label">DISCOUNT</span>
                  </div>
                  <div class="product-price"> <span class="prd-currency">QAR</span> <span class="prd-rate">{{offer?.price}}</span></div>
                 
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'shortlisted'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/store.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'viewed'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/store.jpg">
        </ion-thumbnail>
        <h2>viewed</h2>
      </ion-item>
    </ion-list>


  </div>

</ion-content>